
* {
    background-color: beige;
    }

.navigationList ul li{

    list-style-image: url(./images/starClip.png);
    list-style-position: outside;
    font-family: 'Monospace';
    font-style: oblique;
    margin-left: -20px;
    margin-top:2px;
    background-color: beige;
    border-inline:solid;
    box-shadow: 10px 5px 5px black;


}

.footer {
    text-shadow: bisque;
    background-color: bisque;
    font-family: 'Monospace';
    font-size: medium;
    white-space: pre;
    box-shadow: 10px 5px 5px black;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;

}

.centeredHeading {
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-size: larger;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredParagraphImpact {
    font-family: Impact;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredParagraphAbout {
    font-family: 'serif';
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredImage {
    display: flex;
    justify-content: center;
    align-items: center;
}


.noClickMe {
    text-box;
    font-size: x-large;
    color: red;
    display: flex;
    justify-content: right;
    align-items: right;

}

.clickMe {
    background-color: rgba(0, 255, 255, 0.151);
    width: 300px;
    height: 50px;
    font-size: x-large;
}

.skillsList{
    list-style-type:disc;
    list-style-position:outside;
    
}


.leftHeadingProfessional p1{
    font-size:150%;
    font-family:'Times New Roman';
    font-weight:bolder;
}

.leftParagraphProfessional{
    font-family:'times new roman';
    font-size: large;
}
